[submodule "aur/betterlockscreen"]
	path = aur/betterlockscreen
	url = https://aur.archlinux.org/betterlockscreen.git
        ignore = dirty
[submodule "aur/powerline-fonts-git"]
	path = aur/powerline-fonts-git
	url = https://aur.archlinux.org/powerline-fonts-git.git
        ignore = dirty
[submodule "aur/xcalib"]
	path = aur/xcalib
	url = https://aur.archlinux.org/xcalib.git
        ignore = dirty
[submodule "aur/g810-led-git"]
	path = aur/g810-led-git
	url = https://aur.archlinux.org/g810-led-git.git
